body{

}

.jumbotron{
  background-image: url("http://dhibzx39h851h.cloudfront.net/cache/ac68ce0113251c244db6e0c5b7388b3c788525d7/2/images/burst_homepage_bg.png");
  background-color: #0d77b6;
  background-repeat: none;
  background-position: center;
}

.ride-tile{
  text-align: center;
}

.pull-right{
  float: right;
}

.message-item li{
  margin-bottom: 20px !important;
}

.message-item li:hover{
  background-color: #F8F8F8;
}

.message-item a{
  color: black;
  text-decoration: none;
}

<<<<<<< HEAD
.trip-message-header{
  color: #B1D4EE !important;
}

=======
.homepage-title {
  font-family: 'Amatic SC', cursive;
}

h1.homepage-title {
  font-size: 100px;
  font-weight: bold;
}
>>>>>>> 2df9a2606ecbbb8aa1c9bee805a4428e14de133e
