.jumbotron{
  background-image: url("http://dhibzx39h851h.cloudfront.net/cache/ac68ce0113251c244db6e0c5b7388b3c788525d7/2/images/burst_homepage_bg.png");
  background-color: #0d77b6;
  background-repeat: none;
  background-position: center;
  padding: 0;
}

.ride-tile{
  text-align: center;
}

.pull-right{
  float: right;
}

.message-item li{
  margin-bottom: 20px !important;
}

.message-item li:hover{
  background-color: #F8F8F8;
}

.message-item a{
  color: black;
  text-decoration: none;
}


.trip-message-header{
  color: #B1D4EE !important;
}

.homepage-title {
  font-family: 'Raleway', sans-serif;
}

h1.homepage-title {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: #FCFBE4;
}

p.slogan{
  color: #FCFBE4;
}

.splash-title {
  height: 200;
  position: relative;
  z-index: 2;
}

video {
  position: absolute;
  z-index: -1;
}

.login-btn {
  color: white;
  margin-left: 44.5%;
  font-family: 'Raleway', sans-serif;
  background-color: #00868B;
  padding: 1% 5% 1% 4.9%;
  opacity: .7;
  font-size: 30px;
  text-align: center;

}

.signup-btn {
  color: white;
  margin-left: 44.5%;
  font-family: 'Raleway', sans-serif;
  background-color: #00868B;
  padding: 1%;
  opacity: .7;
  font-size: 30px;
  text-align: center;

}

.login-btn:hover {
  color: white;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  background-color: #00C5CD;

}

.signup-btn:hover {
  color: white;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  background-color: #00C5CD;

}

a:link, a:hover {
  font-family: 'Raleway', sans-serif;

}

.homepage-video {
  position: absolute;
}
