<!-- <video autoplay loop>
  <source src="/assets/videos/shapes.mp4" type="video/mp4"></source>
</video> -->
<script>
  $('.navbar').hide()
</script>

<div>
  <video class="homepage-video" width="105%" height="105%" autoplay loop muted>
    <source src="/driving.mp4" type="video/mp4"></source>
  </video>
  <div class="container splash-title">
    <h1 class="homepage-title">E M B A R K</h1>
    <a href="/session" class="login-btn">Login</a><br><br><br>
    <a href="/user" class="signup-btn">Create User</a>
  </div>
</div>
