<div class="jumbotron">
  <div class="container">
    <h1>Embark</h1>
      <p>Make a new friend and save on gas!</p>
      <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h4>Recent Rides</h4>
      <ul class="list-group">
        <%@recent_rides.each do |ride|%>
        <li class="list-group-item"><strong><%=ride.origin%></strong> >> <strong><%=ride.destination%></strong> <span class="badge pull-right"><%=ride.seat_openings%> seats open</span></li>
        <%end%>
      </ul>
    </div>
    <div class="col-sm-4">
      <h4>Top Destination</h4>
      <div class="thumbnail">
        <img src="http://s3.amazonaws.com/zim-prod-static/images/location_photos/la_square.jpg" alt="...">
        <div class="caption">
          <p>Los Angeles</p>
        </div>
      </div>
    </div>
  </div>
</div>
