<form action="/ride/new" method="post">
  <input type="text" name="ride[origin]" placeholder="From"><br>
  <input type="text" name="ride[destination]" placeholder="To"><br>
  <input type="text" name="ride[seat_openings]" placeholder="Available Seats"><br>
  <input type="text" name="ride[price]" placeholder="Price"><br>
 <!--  <input type="text" name="ride[start_time]" placeholder="Start Time"><br> -->
  <input type="submit" value="Submit"><br>
</form>
