<p>Ride homepage - should be displaying rides</p>

<% @rides.each do |ride| %>
From: <%= ride.origin %><br>
To: <%= ride.destination %><br>
Seat Openings: <%= ride.seat_openings %><br>
Price: $<%= ride.price %><br><br>
<% end %>



